In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('food_coded.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          124 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   104 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

In [4]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

### Removing redundancies

Because these columns have already been coded, we only keep the codes and remove the uncoded columns.

In [5]:
df.drop(['comfort_food_reasons', 'diet_current', 'eating_changes', 'fav_cuisine', 'ideal_diet'], inplace=True, axis=1)

`comfort_food_reasons_coded` and `comfort_food_reasons_coded.1` are almost the same column, except that the former has `nan` values. Hence, we choose the latter to keep.

In [6]:
df.drop(['comfort_food_reasons_coded'], inplace=True, axis=1)
df.rename({'comfort_food_reasons_coded.1': 'comfort_food_reasons_coded'}, axis=1, inplace=True)

There are two codings for `eating_changes`: `eating_changes_coded` and `eating_changes_coded1`. The latter is more detailed than the forever, so we decide to keep it.

In [7]:
df.drop(['eating_changes_coded'], inplace=True, axis=1)
df.rename({'eating_changes_coded1': 'eating_changes_coded'}, axis=1, inplace=True)

### Missing Values

`GPA` is an `object` column in this dataset. Hence, further data exploration must be made on the column so that its data type can be changed to the more appropriate `float`.

In [8]:
df['GPA'].value_counts()

3.5           13
3             11
3.2           10
3.7           10
3.3            9
3.4            9
3.6            7
3.9            7
3.8            6
2.8            5
4              4
3.1            3
2.9            2
3.83           2
2.6            2
2.4            1
3.79 bitch     1
3.73           1
2.71           1
3.92           1
3.68           1
3.75           1
Unknown        1
3.77           1
3.63           1
3.67           1
3.89           1
Personal       1
3.35           1
3.292          1
3.605          1
3.654          1
3.65           1
3.87           1
2.2            1
3.904          1
2.25           1
3.882          1
Name: GPA, dtype: int64

We should extract the number from `3.79 bitch`, and turn `Unknown` and `Personal` into `NaN` values to be imputed later.

Here, we note that `Personal ` has a space after the word. This is important in accessing it.

In [9]:
df['GPA'].replace({
    '3.79 bitch': 3.79,
    'Unknown': np.NaN,
    'Personal ': np.NaN
}, inplace=True)

In [10]:
df['GPA'].value_counts()

3.5      13
3        11
3.7      10
3.2      10
3.3       9
3.4       9
3.6       7
3.9       7
3.8       6
2.8       5
4         4
3.1       3
2.9       2
2.6       2
3.83      2
3.79      1
2.71      1
3.73      1
2.4       1
3.92      1
3.68      1
3.75      1
3.77      1
3.63      1
3.67      1
3.65      1
3.35      1
3.292     1
3.605     1
3.89      1
3.654     1
3.87      1
2.2       1
3.904     1
2.25      1
3.882     1
Name: GPA, dtype: int64

In [11]:
df['GPA'] = pd.to_numeric(df['GPA'])

The `weight` column is also an `object` column, instead of `int` or `float`. Hence, we have to do more data exploration.

In [12]:
df['weight'].value_counts()

135                         8
140                         8
150                         7
170                         7
175                         6
180                         6
155                         6
185                         6
165                         5
190                         5
125                         5
145                         4
200                         4
130                         4
120                         3
160                         3
129                         2
113                         2
128                         2
167                         2
210                         2
118                         1
192                         1
187                         1
112                         1
144 lbs                     1
127                         1
260                         1
184                         1
230                         1
138                         1
265                         1
205                         1
169                         1
168                         1
100                         1
115                         1
105                         1
195                         1
123                         1
264                         1
110                         1
116                         1
137                         1
Not sure, 240               1
I'm not answering this.     1
156                         1
Name: weight, dtype: int64

We can extract the numbers from `144 lbs` and `Not sure, 240`, while `I'm not answering this.` can be changed to `NaN`.

Here, we also note that `I'm not answering this. ` also has a space after the period.

In [13]:
df['weight'].replace({
    '144 lbs': 144,
    'Not sure, 240': 240,
    'I\'m not answering this. ': np.NaN
}, inplace=True)

In [14]:
df['weight'].value_counts()

135    8
140    8
150    7
170    7
155    6
175    6
180    6
185    6
165    5
125    5
190    5
145    4
200    4
130    4
160    3
120    3
210    2
113    2
167    2
128    2
129    2
144    1
112    1
127    1
260    1
184    1
230    1
118    1
138    1
192    1
265    1
187    1
169    1
168    1
100    1
205    1
115    1
105    1
195    1
123    1
264    1
110    1
116    1
137    1
240    1
156    1
Name: weight, dtype: int64

In [15]:
df['weight'] = pd.to_numeric(df['weight'])

Next, we split the columns with missing data into categorical and numerical variables.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GPA                         121 non-null    float64
 1   Gender                      125 non-null    int64
 2   breakfast                   125 non-null    int64
 3   calories_chicken            125 non-null    int64
 4   calories_day                106 non-null    float64
 5   calories_scone              124 non-null    float64
 6   coffee                      125 non-null    int64
 7   comfort_food                124 non-null    object
 8   cook                        122 non-null    float64
 9   comfort_food_reasons_coded  125 non-null    int64
 10  cuisine                     108 non-null    float64
 11  diet_current_coded          125 non-null    int64
 12  drink                       123 non-null    float64
 13  eating_changes_coded        125 non-null    int64
 14  eating_out                  125 non-null    int64
 15  employment                  116 non-null    float64
 16  ethnic_food                 125 non-null    int64
 17  exercise                    112 non-null    float64
 18  father_education            124 non-null    float64
 19  father_profession           122 non-null    object
 20  fav_cuisine_coded           125 non-null    int64
 21  fav_food                    123 non-null    float64
 22  food_childhood              124 non-null    object
 23  fries                       125 non-null    int64
 24  fruit_day                   125 non-null    int64
 25  grade_level                 125 non-null    int64
 26  greek_food                  125 non-null    int64
 27  healthy_feeling             125 non-null    int64
 28  healthy_meal                124 non-null    object
 29  ideal_diet_coded            125 non-null    int64
 30  income                      124 non-null    float64
 31  indian_food                 125 non-null    int64
 32  italian_food                125 non-null    int64
 33  life_rewarding              124 non-null    float64
 34  marital_status              124 non-null    float64
 35  meals_dinner_friend         122 non-null    object
 36  mother_education            122 non-null    float64
 37  mother_profession           123 non-null    object
 38  nutritional_check           125 non-null    int64
 39  on_off_campus               124 non-null    float64
 40  parents_cook                125 non-null    int64
 41  pay_meal_out                125 non-null    int64
 42  persian_food                124 non-null    float64
 43  self_perception_weight      124 non-null    float64
 44  soup                        124 non-null    float64
 45  sports                      123 non-null    float64
 46  thai_food                   125 non-null    int64
 47  tortilla_calories           124 non-null    float64
 48  turkey_calories             125 non-null    int64
 49  type_sports                 104 non-null    object
 50  veggies_day                 125 non-null    int64
 51  vitamins                    125 non-null    int64
 52  waffle_calories             125 non-null    int64
 53  weight                      122 non-null    float64
dtypes: float64(21), int64(26), object(7)
memory usage: 52.9+ KB

In [17]:
cat = [
    'calories_day',
    'calories_scone',
    'cook',
    'cuisine',
    'drink',
    'employment',
    'exercise',
    'father_education',
    'fav_food',
    'income',
    'life_rewarding',
    'marital_status',
    'mother_education',
    'on_off_campus',
    'persian_food',
    'self_perception_weight',
    'soup',
    'sports',
    'tortilla_calories',
]

num = [
    'GPA',
    'weight'
]

All categorical columns are actually `int` or `float` columns in the dataset, but it was observed that this was due to the coding used in the original dataset, where numbers are assigned to text data. I thought that mode might be more appropriate for imputing these to maintain the domain of values for each column. We then impute using the function defined below:

In [18]:
def impute_na(col_name, col_type):
    '''
    This function is used to avoid retyping too much
    '''
    if col_type == 'cat':
        df[col_name] = df[col_name].fillna(value=df[col_name].mode()[0])
    elif col_type == 'num':
        df[col_name] = df[col_name].fillna(value=df[col_name].mean())
    else:
        print('Nothing happened!')

In [19]:
for col in cat:
    impute_na(col, 'cat')
    
for col in num:
    impute_na(col, 'num')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GPA                         125 non-null    float64
 1   Gender                      125 non-null    int64
 2   breakfast                   125 non-null    int64
 3   calories_chicken            125 non-null    int64
 4   calories_day                125 non-null    float64
 5   calories_scone              125 non-null    float64
 6   coffee                      125 non-null    int64
 7   comfort_food                124 non-null    object
 8   cook                        125 non-null    float64
 9   comfort_food_reasons_coded  125 non-null    int64
 10  cuisine                     125 non-null    float64
 11  diet_current_coded          125 non-null    int64
 12  drink                       125 non-null    float64
 13  eating_changes_coded        125 non-null    int64
 14  eating_out                  125 non-null    int64
 15  employment                  125 non-null    float64
 16  ethnic_food                 125 non-null    int64
 17  exercise                    125 non-null    float64
 18  father_education            125 non-null    float64
 19  father_profession           122 non-null    object
 20  fav_cuisine_coded           125 non-null    int64
 21  fav_food                    125 non-null    float64
 22  food_childhood              124 non-null    object
 23  fries                       125 non-null    int64
 24  fruit_day                   125 non-null    int64
 25  grade_level                 125 non-null    int64
 26  greek_food                  125 non-null    int64
 27  healthy_feeling             125 non-null    int64
 28  healthy_meal                124 non-null    object
 29  ideal_diet_coded            125 non-null    int64
 30  income                      125 non-null    float64
 31  indian_food                 125 non-null    int64
 32  italian_food                125 non-null    int64
 33  life_rewarding              125 non-null    float64
 34  marital_status              125 non-null    float64
 35  meals_dinner_friend         122 non-null    object
 36  mother_education            125 non-null    float64
 37  mother_profession           123 non-null    object
 38  nutritional_check           125 non-null    int64
 39  on_off_campus               125 non-null    float64
 40  parents_cook                125 non-null    int64
 41  pay_meal_out                125 non-null    int64
 42  persian_food                125 non-null    float64
 43  self_perception_weight      125 non-null    float64
 44  soup                        125 non-null    float64
 45  sports                      125 non-null    float64
 46  thai_food                   125 non-null    int64
 47  tortilla_calories           125 non-null    float64
 48  turkey_calories             125 non-null    int64
 49  type_sports                 104 non-null    object
 50  veggies_day                 125 non-null    int64
 51  vitamins                    125 non-null    int64
 52  waffle_calories             125 non-null    int64
 53  weight                      125 non-null    float64
dtypes: float64(21), int64(26), object(7)
memory usage: 52.9+ KB

The remaining columns with `NaN`s are the answers to open-ended questions. We would like to leave these columns as is for future modeling purposes, only imputing the `NaN`s with empty strings.

In [21]:
df.fillna(value='', inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GPA                         125 non-null    float64
 1   Gender                      125 non-null    int64
 2   breakfast                   125 non-null    int64
 3   calories_chicken            125 non-null    int64
 4   calories_day                125 non-null    float64
 5   calories_scone              125 non-null    float64
 6   coffee                      125 non-null    int64
 7   comfort_food                125 non-null    object
 8   cook                        125 non-null    float64
 9   comfort_food_reasons_coded  125 non-null    int64
 10  cuisine                     125 non-null    float64
 11  diet_current_coded          125 non-null    int64
 12  drink                       125 non-null    float64
 13  eating_changes_coded        125 non-null    int64
 14  eating_out                  125 non-null    int64
 15  employment                  125 non-null    float64
 16  ethnic_food                 125 non-null    int64
 17  exercise                    125 non-null    float64
 18  father_education            125 non-null    float64
 19  father_profession           125 non-null    object
 20  fav_cuisine_coded           125 non-null    int64
 21  fav_food                    125 non-null    float64
 22  food_childhood              125 non-null    object
 23  fries                       125 non-null    int64
 24  fruit_day                   125 non-null    int64
 25  grade_level                 125 non-null    int64
 26  greek_food                  125 non-null    int64
 27  healthy_feeling             125 non-null    int64
 28  healthy_meal                125 non-null    object
 29  ideal_diet_coded            125 non-null    int64
 30  income                      125 non-null    float64
 31  indian_food                 125 non-null    int64
 32  italian_food                125 non-null    int64
 33  life_rewarding              125 non-null    float64
 34  marital_status              125 non-null    float64
 35  meals_dinner_friend         125 non-null    object
 36  mother_education            125 non-null    float64
 37  mother_profession           125 non-null    object
 38  nutritional_check           125 non-null    int64
 39  on_off_campus               125 non-null    float64
 40  parents_cook                125 non-null    int64
 41  pay_meal_out                125 non-null    int64
 42  persian_food                125 non-null    float64
 43  self_perception_weight      125 non-null    float64
 44  soup                        125 non-null    float64
 45  sports                      125 non-null    float64
 46  thai_food                   125 non-null    int64
 47  tortilla_calories           125 non-null    float64
 48  turkey_calories             125 non-null    int64
 49  type_sports                 125 non-null    object
 50  veggies_day                 125 non-null    int64
 51  vitamins                    125 non-null    int64
 52  waffle_calories             125 non-null    int64
 53  weight                      125 non-null    float64
dtypes: float64(21), int64(26), object(7)
memory usage: 52.9+ KB

### One-Hot Encoding

We first observe that the columns containing the answers to the open-ended questions, denoted by having the `object` data type, has very unique values owing to the nature of the columns. Hence, we do not include them in one-hot encoding.

In [23]:
df['comfort_food'].value_counts().max()

1

In [24]:
df = df.select_dtypes(exclude = ['object'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GPA                         125 non-null    float64
 1   Gender                      125 non-null    int64
 2   breakfast                   125 non-null    int64
 3   calories_chicken            125 non-null    int64
 4   calories_day                125 non-null    float64
 5   calories_scone              125 non-null    float64
 6   coffee                      125 non-null    int64
 7   cook                        125 non-null    float64
 8   comfort_food_reasons_coded  125 non-null    int64
 9   cuisine                     125 non-null    float64
 10  diet_current_coded          125 non-null    int64
 11  drink                       125 non-null    float64
 12  eating_changes_coded        125 non-null    int64
 13  eating_out                  125 non-null    int64
 14  employment                  125 non-null    float64
 15  ethnic_food                 125 non-null    int64
 16  exercise                    125 non-null    float64
 17  father_education            125 non-null    float64
 18  fav_cuisine_coded           125 non-null    int64
 19  fav_food                    125 non-null    float64
 20  fries                       125 non-null    int64
 21  fruit_day                   125 non-null    int64
 22  grade_level                 125 non-null    int64
 23  greek_food                  125 non-null    int64
 24  healthy_feeling             125 non-null    int64
 25  ideal_diet_coded            125 non-null    int64
 26  income                      125 non-null    float64
 27  indian_food                 125 non-null    int64
 28  italian_food                125 non-null    int64
 29  life_rewarding              125 non-null    float64
 30  marital_status              125 non-null    float64
 31  mother_education            125 non-null    float64
 32  nutritional_check           125 non-null    int64
 33  on_off_campus               125 non-null    float64
 34  parents_cook                125 non-null    int64
 35  pay_meal_out                125 non-null    int64
 36  persian_food                125 non-null    float64
 37  self_perception_weight      125 non-null    float64
 38  soup                        125 non-null    float64
 39  sports                      125 non-null    float64
 40  thai_food                   125 non-null    int64
 41  tortilla_calories           125 non-null    float64
 42  turkey_calories             125 non-null    int64
 43  veggies_day                 125 non-null    int64
 44  vitamins                    125 non-null    int64
 45  waffle_calories             125 non-null    int64
 46  weight                      125 non-null    float64
dtypes: float64(21), int64(26)
memory usage: 46.0 KB

To do one-hot encoding, all coding that was done on non-ordinal variables in the original dataset must be undone so that the categorical values are used in the dataset. We note that one-hot encoding will not be done on ordinal variables because the ordering of integers are sufficient for denoting the ordering of the values of ranked data and this would be understood by machine learning models when detecting patterns.

Before this, we would also have to change the `float` columns into `int` columns because the values in these columns are just integers.

In [25]:
float_cols = [
    'calories_day',
    'calories_scone',
    'cook',
    'cuisine',
    'drink',
    'employment',
    'exercise',
    'father_education',
    'fav_food',
    'income',
    'life_rewarding',
    'marital_status',
    'mother_education',
    'on_off_campus',
    'persian_food',
    'self_perception_weight',
    'soup',
    'sports',
    'tortilla_calories',
]

for col in float_cols:
    df[col] = df[col].astype('int64')
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GPA                         125 non-null    float64
 1   Gender                      125 non-null    int64
 2   breakfast                   125 non-null    int64
 3   calories_chicken            125 non-null    int64
 4   calories_day                125 non-null    int64
 5   calories_scone              125 non-null    int64
 6   coffee                      125 non-null    int64
 7   cook                        125 non-null    int64
 8   comfort_food_reasons_coded  125 non-null    int64
 9   cuisine                     125 non-null    int64
 10  diet_current_coded          125 non-null    int64
 11  drink                       125 non-null    int64
 12  eating_changes_coded        125 non-null    int64
 13  eating_out                  125 non-null    int64
 14  employment                  125 non-null    int64
 15  ethnic_food                 125 non-null    int64
 16  exercise                    125 non-null    int64
 17  father_education            125 non-null    int64
 18  fav_cuisine_coded           125 non-null    int64
 19  fav_food                    125 non-null    int64
 20  fries                       125 non-null    int64
 21  fruit_day                   125 non-null    int64
 22  grade_level                 125 non-null    int64
 23  greek_food                  125 non-null    int64
 24  healthy_feeling             125 non-null    int64
 25  ideal_diet_coded            125 non-null    int64
 26  income                      125 non-null    int64
 27  indian_food                 125 non-null    int64
 28  italian_food                125 non-null    int64
 29  life_rewarding              125 non-null    int64
 30  marital_status              125 non-null    int64
 31  mother_education            125 non-null    int64
 32  nutritional_check           125 non-null    int64
 33  on_off_campus               125 non-null    int64
 34  parents_cook                125 non-null    int64
 35  pay_meal_out                125 non-null    int64
 36  persian_food                125 non-null    int64
 37  self_perception_weight      125 non-null    int64
 38  soup                        125 non-null    int64
 39  sports                      125 non-null    int64
 40  thai_food                   125 non-null    int64
 41  tortilla_calories           125 non-null    int64
 42  turkey_calories             125 non-null    int64
 43  veggies_day                 125 non-null    int64
 44  vitamins                    125 non-null    int64
 45  waffle_calories             125 non-null    int64
 46  weight                      125 non-null    float64
dtypes: float64(2), int64(45)
memory usage: 46.0 KB

In [26]:
def uncode(col_name, code_dict, df=df):
    df[col_name].replace(code_dict, inplace=True)
    
    df[col_name] = df[col_name].astype(str)

In [27]:
uncode('Gender', {
    1: 'female',
    2: 'male'
})

uncode('breakfast', {
    1: 'cereal',
    2: 'donut'
})

uncode('calories_chicken', {
    1 : '265', 
    2 : '430',
    3 : '610', 
    4 : '720'
})

#uncode('calories_day', {
#    1 : 'I dont know how many calories i should consume',
#    2 : 'it is not at all important',
#    3 : 'it is moderately important',
#    4 : 'it is very important'
#})

uncode('calories_scone', {
    1 : '107',
    2 : '315',
    3 : '420',
    4 : '980'
})

uncode('coffee', {
    1: 'creamy frappuccino',
    2: 'espresso'
})

uncode('comfort_food_reasons_coded', {
    1 : 'stress',
    2 : 'boredom',
    3 : 'depression/sadness',
    4 : 'hunger',
    5 : 'laziness',
    6 : 'cold weather',
    7 : 'happiness',
    8 : 'watching tv',
    9 : 'none' 
})

#uncode('cook', {
#    1 : 'Every day', 
#    2 : 'A couple of times a week',
#    3 : 'Whenever I can, but that is not very often',
#    4 : 'I only help a little during holidays',
#    5 : 'Never, I really do not know my way around a kitchen
#})

uncode('cuisine', {
    1 : 'American',
    2 : 'Mexican.Spanish',
    3 : 'Korean/Asian',
    4 : 'Indian',
    5 : 'American inspired international dishes',
    6 : 'other'
})

uncode('diet_current_coded', {
    1 : 'healthy/balanced/moderated',
    2 : 'unhealthy/cheap/too much/random',
    3 : 'the same thing over and over',
    4 : 'unclear'
})

uncode('drink', {
    1 : 'orange juice',
    2 : 'soda'
})

uncode('eating_changes_coded', {
    1 : 'eat faster',
    2 : 'bigger quantity',
    3 : 'worse quality', 
    4 : 'same food',
    5 : 'healthier',
    6 : 'unclear',
    7 : 'drink coffee', 
    8 : 'less food',
    9 : 'more sweets',
    10 : 'timing',
    11 : 'more carbs or snacking',
    12 : 'drink more water',
    13 : 'more variety'
})

#uncode('eating_out', {
#    1 : 'Never',
#    2 : '1-2 times', 
#    3 : '2-3 times', 
#    4 : '3-5 times',
#    5 : 'every day
#})

#uncode('employment', {
#    1: 'full time',
#    2: 'part time',
#    3: 'none',
#    4: 'other'
#})

#uncode('ethnic_food', {
#    1 : 'very unlikely',
#    2 : 'unlikely',
#    3 : 'neutral', 
#    4 : 'likely',
#    5 : 'very likely
#})

#uncode('exercise', {
#    1 : 'Everyday',
#    2 : 'Twice or three times per week',
#    3 : 'Once a week',
#    4 : 'Sometimes',
#    5 : 'Never
#})

#uncode('father_education', {
#    1 : 'less than high school',
#    2 : 'high school degree',
#    3 : 'some college degree', 
#    4 : 'college degree',
#    5 : 'graduate degree' 
#})

uncode('fav_cuisine_coded', {
    0 : 'none',
    1 : 'Italian/French/greek',
    2 : 'Spanish/mexican',
    3 : 'Arabic/Turkish',
    4 : 'Asian',
    5 : 'American',
    6 : 'African', 
    7 : 'Jamaican',
    8 : 'Indian'
})

uncode('fav_food', {
    1 : 'cooked at home',
    2 : 'store bought',
    3 : 'both bought store and cooked at home'
})

uncode('fries', {
    1 : 'McDonald\'s',
    2 : 'Home'
})

#uncode('fruit_day', {
#    1 : 'very unlikely',
#    2 : 'unlikely',
#    3 : 'neutral',
#    4 : 'likely',
#    5 : 'very likely'
#})

#uncode('grade_level', {
#    1 : 'Freshman', 
#    2 : 'Sophomore', 
#    3 : 'Junior',
#    4 : 'Senior'
#})

#uncode('greek_food', {
#    1 : 'very unlikely', 
#    2 : 'unlikely', 
#    3 : 'neutral', 
#    4 : 'likely',
#    5 : 'very likely'
#})

uncode('ideal_diet_coded', {
    1 : 'portion control',
    2 : 'adding veggies/eating healthier food/adding fruit',
    3 : 'balance',
    4 : 'less sugar',
    5 : 'home cooked/organic',
    6 : 'current diet',
    7 : 'more protein',
    8 : 'unclear'
})

uncode('marital_status', {
    1 : 'Single', 
    2 : 'In a relationship',
    3 : 'Cohabiting',
    4 : 'Married',
    5 : 'Divorced',
    6 : 'Widowed'
})

uncode('on_off_campus', {
    1 : 'On campus', 
    2 : 'Rent out of campus',
    3 : 'Live with my parents and commute',
    4 : 'Own my own house'
})

uncode('self_perception_weight', {
    6 : 'i dont think myself in these terms',
    5 : 'overweight',
    4 : 'slightly overweight',
    3 : 'just right',
    2 : 'very fit',
    1 : 'slim'
})

uncode('soup', {
    1: 'veggie',
    2: 'creamy'
})

uncode('tortilla_calories', {
    1 : '580', 
    2 : '725', 
    3 : '940', 
    4 : '1165'
})

uncode('waffle_calories', {
    1 : '575', 
    2 : '760', 
    3 : '900', 
    4 : '1315'
})

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GPA                         125 non-null    float64
 1   Gender                      125 non-null    object
 2   breakfast                   125 non-null    object
 3   calories_chicken            125 non-null    object
 4   calories_day                125 non-null    int64
 5   calories_scone              125 non-null    object
 6   coffee                      125 non-null    object
 7   cook                        125 non-null    int64
 8   comfort_food_reasons_coded  125 non-null    object
 9   cuisine                     125 non-null    object
 10  diet_current_coded          125 non-null    object
 11  drink                       125 non-null    object
 12  eating_changes_coded        125 non-null    object
 13  eating_out                  125 non-null    int64
 14  employment                  125 non-null    int64
 15  ethnic_food                 125 non-null    int64
 16  exercise                    125 non-null    int64
 17  father_education            125 non-null    int64
 18  fav_cuisine_coded           125 non-null    object
 19  fav_food                    125 non-null    object
 20  fries                       125 non-null    object
 21  fruit_day                   125 non-null    int64
 22  grade_level                 125 non-null    int64
 23  greek_food                  125 non-null    int64
 24  healthy_feeling             125 non-null    int64
 25  ideal_diet_coded            125 non-null    object
 26  income                      125 non-null    int64
 27  indian_food                 125 non-null    int64
 28  italian_food                125 non-null    int64
 29  life_rewarding              125 non-null    int64
 30  marital_status              125 non-null    object
 31  mother_education            125 non-null    int64
 32  nutritional_check           125 non-null    int64
 33  on_off_campus               125 non-null    object
 34  parents_cook                125 non-null    int64
 35  pay_meal_out                125 non-null    int64
 36  persian_food                125 non-null    int64
 37  self_perception_weight      125 non-null    object
 38  soup                        125 non-null    object
 39  sports                      125 non-null    int64
 40  thai_food                   125 non-null    int64
 41  tortilla_calories           125 non-null    object
 42  turkey_calories             125 non-null    int64
 43  veggies_day                 125 non-null    int64
 44  vitamins                    125 non-null    int64
 45  waffle_calories             125 non-null    object
 46  weight                      125 non-null    float64
dtypes: float64(2), int64(25), object(20)
memory usage: 46.0+ KB

In [29]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,cook,comfort_food_reasons_coded,cuisine,...,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories,weight
0,2.400,male,cereal,430,3,315,creamy frappuccino,2,none,American,...,just right,veggie,1,1,1165,345,5,1,1315,187.00000
1,3.654,female,cereal,610,3,420,espresso,3,stress,American,...,just right,veggie,1,2,725,690,4,2,900,155.00000
2,3.300,female,cereal,720,4,420,espresso,1,stress,Korean/Asian,...,i dont think myself in these terms,veggie,2,5,1165,500,5,1,900,159.04918
3,3.200,female,cereal,430,3,420,espresso,2,boredom,Mexican.Spanish,...,overweight,veggie,2,5,725,690,3,1,1315,240.00000
4,3.500,female,cereal,720,2,420,espresso,1,stress,Mexican.Spanish,...,slightly overweight,veggie,1,4,940,500,4,2,760,190.00000

We can now do one-hot encoding.

In [30]:
df = pd.get_dummies(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Columns: 118 entries, GPA to waffle_calories_900
dtypes: float64(2), int64(25), uint8(91)
memory usage: 37.6 KB

In [31]:
df.head()

,GPA,calories_day,cook,eating_out,employment,ethnic_food,exercise,father_education,fruit_day,grade_level,...,soup_creamy,soup_veggie,tortilla_calories_1165,tortilla_calories_580,tortilla_calories_725,tortilla_calories_940,waffle_calories_1315,waffle_calories_575,waffle_calories_760,waffle_calories_900
0,2.400,3,2,3,3,1,1,5,5,2,...,0,1,1,0,0,0,1,0,0,0
1,3.654,3,3,2,2,4,1,2,4,4,...,0,1,0,0,1,0,0,0,0,1
2,3.300,4,1,2,3,5,2,2,5,3,...,0,1,1,0,0,0,0,0,0,1
3,3.200,3,2,2,3,5,3,2,4,4,...,0,1,0,0,1,0,1,0,0,0
4,3.500,2,1,2,2,4,1,4,4,4,...,0,1,0,0,0,1,0,0,1,0

This version of the data set can now be used by machine learning models.

In [33]:
df.to_csv('cleaned.csv', index=False)